{"names":["Samuel"],"phone":"+12021234567","languages":["en","es"]}
{"names":["Alex","Alexandra"],"phone":"+1234567890","languages":["en","es"]}
{"names":["Gloria","G"],"phone":"+19197654321","languages":["en","es","fr"]}
{"names":["Olivia","Liv"],"phone":"+14155552671","languages":["en","es","ht"]}
